{% autoescape off %}
Здравствуйте, {{ user.username }}!

Вы запросили восстановление пароля для доступа к своему аккаунту. Если вы действительно хотите изменить пароль, перейдите по ссылке ниже:

{{ reset_link }}

Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо

Мы заботимся о вашей безопасности, поэтому, если у вас есть подозрения, что кто-то получил доступ к вашему аккаунту, настоятельно рекомендуем сменить пароль и активировать дополнительные меры защиты.

Если у вас возникнут вопросы или трудности, свяжитесь с нашей службой поддержки.

С уважением,
Команда Whispr
{% endautoescape %}